__pycache__/speech.cpython-311.pyc
__pycache__/speek.cpython-311.pyc
__pycache__/brain.cpython-311.pyc
__pycache__/api_acsess_test.cpython-311.pyc
__pycache__/api_acsess_test.cpython-312.pyc
__pycache__/brain.cpython-312.pyc
__pycache__/speech.cpython-312.pyc
__pycache__/speek.cpython-312.pyc
__pycache__/speek2.cpython-312.pyc
